
{% extends "base.html" %}
{%load static%}
{% block body %}

<!-- templates/profile.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Profil Utilisateur</title>
</head>
<body>
    <h1>Bienvenue, {{ user.first_name }}!</h1>
    <p>Email: {{ user.email }}</p>
    <p>Nom d'utilisateur: {{ user.username }}</p>
    <p>Nom: {{ user.last_name }}</p>
    <p>Prénom: {{ user.first_name }}</p>
    <p>Date de naissance: {{ user.date_of_birth|date:"d/m/Y" }}</p>
    <p>Téléphone: {{ user.phone_number }}</p>
    <p>Date de création du compte: {{ user.date_joined|date:"d/m/Y H:i" }}</p>

<form method="post" action="/logout/">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Déconnexion</button>
</form>


</body>
</html>
{% endblock %}