{% extends 'base.html' %}

{% block title %}Détail du produit{% endblock %}

{% block body %}
<!-- Détail du produit -->
<div class="container my-4">
    <div class="row">
        <div class="col-md-6">
            <div id="product-images" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ product.pics_1.url }}" class="d-block w-100" alt="Photo 1">
                    </div>
                    {% if product.pics_2 %}
                    <div class="carousel-item">
                        <img src="{{ product.pics_2.url }}" class="d-block w-100" alt="Photo 2">
                    </div>
                    {% endif %}
                    {% if product.pics_3 %}
                    <div class="carousel-item">
                        <img src="{{ product.pics_3.url }}" class="d-block w-100" alt="Photo 3">
                    </div>
                    {% endif %}
                </div>
                <a class="carousel-control-prev" href="#product-images" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#product-images" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Suivant</span>
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h1 class="mb-3">{{ product.titre }}</h1>
            <p class="text-primary fw-bold">Prix : {{ product.price }} €</p>
            <p><strong>Catégorie :</strong> {{ product.get_category_display }}</p>
            <p><strong>Publié le :</strong> {{ product.published|date:"d/m/Y" }}</p>
            <p><strong>Description :</strong></p>
            <p>{{ product.description }}</p>
            <a href="{% url 'shop:vitrine_detail' product.vitrine product.user.id %}" class="btn btn-primary">Voir la vitrine</a>
        </div>
        <!-- Product actions-->
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
                <form method="post" action="{% url 'marketplace:add_to_cart' pk=product.pk %}">
                    {% csrf_token %}
                    <input type="submit" value="Ajouter au panier" class="btn btn-outline-dark mt-auto">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}