{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block body %}
<!-- Marketplace du vendeur -->
<div class="container">
    <h1 class="text-center my-4">Tous les vêtements</h1>
    <div class="d-flex flex-wrap justify-content-center mb-4">
        {% for name, db_name in categories %}
        <a href="{% url 'shop:all' %}?category={{ db_name }}" class="btn btn-outline-primary m-1">{{ name }}</a>
        {% endfor %}
    </div>
    <div class="text-center mb-4">
        <a href="{% url 'shop:all' %}" class="btn btn-danger">Supprimer les filtres</a>
    </div>
</div>
{% endblock %}
