{% extends 'base.html' %}

{% block title %}Marketplace{% endblock %}

{% block body %}
<!-- Marketplace commune -->
<h1 class="text-center my-4">Marketplace</h1>
<form method="get" action="{% url 'marketplace:search_results' %}" class="d-flex justify-content-center mb-4">
    <input type="text" name="q" class="form-control w-50" placeholder="Rechercher un produit" value="{{ query }}">
    <button type="submit" class="btn btn-primary ms-2">Rechercher</button>
</form>

<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="{{ product.pics_1.url }}" class="card-img-top" alt="{{ product.titre }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.titre }}</h5>
                <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                <p class="text-primary fw-bold">Prix : {{ product.price }} €</p>
                <a href="{% url 'marketplace:detail' product.slug %}" class="btn btn-outline-primary">Voir le produit</a>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                    <form method="post" action="{% url 'marketplace:add_to_cart' pk=product.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Ajouter au panier" class="btn btn-outline-dark mt-auto">
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p class="text-center">Aucun produit trouvé.</p>
    {% endfor %}
</div>
{% endblock %}