{% extends "base.html" %}

{% block body %}
<div class="vitrine-detail-container" style="max-width: 900px; margin: auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
    <h1 style="text-align: center;">{{ vitrine.nom_boutique }}</h1>

    <div class="vitrine-description" style="margin-top: 20px;">
        <h3>Description</h3>
        <p>{{ vitrine.description_boutique }}</p>
    </div>

    <div class="vitrine-owner" style="margin-top: 20px;">
        <h3>Propriétaire</h3>
        <p>{{ vitrine.nom_proprietaire }}</p>
    </div>

    <div class="vitrine-address" style="margin-top: 20px;">
        <h3>Adresse</h3>
        <p>{{ vitrine.adresse }}</p>
    </div>
    <div>
        <h1>Produits de {{ user.username }}</h1>
        <ul>
            {% for product in products %}
                <li>
                    <h2>{{ product.titre }}</h2>
                    <p>{{ product.description }}</p>
                    <p>Prix : {{ product.price }}€</p>
                    <a href="{% url 'marketplace:detail' product.slug %}">Voir le produit</a>
                </li>
            {% empty %}
                <p>Aucun produit trouvé.</p>
            {% endfor %}
        </ul>
    </div>

    <div class="vitrine-action" style="margin-top: 30px; text-align: center;">
        <a href="{% url 'shop:all_vitrines' %}" class="btn btn-secondary">Retour à toutes les vitrines</a>

    </div>
    <div>
        {% if is_owner %}
            <!-- Bouton pour modifier la vitrine -->

            <a href="{% url 'index' %}" class="btn btn-primary">Modifier la vitrine</a>
        {% endif %}
    </div>
</div>


{% endblock %}
